<%= form_with(model: sala, local: true) do |form| %>
  <% if sala.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(sala.errors.count, "error") %> prohibited this sala from being saved:</h2>

      <ul>
      <% sala.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :nombre %>
    <%= form.text_field :nombre %>
  </div>

  <div class="field">
    <%= form.label :apikey %>
    <%= form.text_field :apikey %>
  </div>

  <div class="field">
    <%= form.label :sessionID %>
    <%= form.text_area :sessionID %>
  </div>

  <div class="field">
    <%= form.label :token %>
    <%= form.text_area :token %>
  </div>

  <div class="field">
    <%= form.label :minutos %>
    <%= form.number_field :minutos %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
