<div class="container">


<% if notice %>
  <div class="alert alert-primary" role="alert">
    <%= notice %>
  </div>
<% end %>

  <h1 class="text-center">Salas</h1>
  <hr>
  <%= link_to 'Nueva Sala +', new_sala_path , class: "btn btn-success" %>
  <br><br>
  <table class="table">
    <thead class="thead-dark">
      <tr>
        <th>#</th>
        <th>Nombre</th>
        <th>Minutos</th>
        <th colspan="3">Opciones</th>
      </tr>
    </thead>
    <% @contador = 1 %>
    <tbody>
      <% @salas.each do |sala| %>
        <tr>
          <td><%= @contador %></td>
          <td><%= sala.nombre %></td>
          <td><%= sala.minutos %></td>
          <td><%= link_to 'Show', sala %></td>
          <td><%= link_to 'Edit', edit_sala_path(sala) %></td>
          <td><%= link_to 'Destroy', sala, method: :delete, data: { confirm: 'Esta Seguro de eliminar la sala?' } %></td>
        </tr>
        <% @contador= @contador+1 %>
      <% end %>
    </tbody>
  </table>
</div>
<br>
